{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/reset.css'%}">
    <link rel="stylesheet" href="{% static 'styles/review_lists.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>my Movie reviews</h1>
        <a href="{% url 'review_write_modify'%}">Add a New review</a>
    </header>
    <main>
        <ul>
            {% for review in reviews %}
            <div id="review_boxes">
                <div class="review_cell">
                    <div class="review_top">
                        <img src="{%static 'images/f1_theMovie.webp'%}" alt="">
                    </div>
                    <div class="review_bottom">
                        <h3>{{review.title}}</h3><!-- 제목 -->
                        <p>개봉년도 : {{review.title}}</p><!-- 개봉년도 -->
                        <p>장르 : {{review.genre}}</p><!-- 장르 -->
                        <p>별점 : {{review.score}}</p><!-- 별점 -->
                    </div>
                </div>
            </div>
            {% empty %}
                <li>등록된 리뷰가 없습니다.</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>