{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'styles/reset.css'%}">
</head>
<body>
    <header>
        <h1>my Movie reviews</h1>
        <button>Add a new review</button>
    </header>
    <main>
        <h1>리뷰 작성하기</h1>
        <form action="" method="POST">
            {% csrf_token %}
            
            <p>제목: <input type="text" name="title" required></p>
            <p>개봉 연도: <input type="number" name="year" value="2025"></p>
            <p>장르: <input type="text" name="genre" placeholder="예: 액션"></p>
            <p>감독: <input type="text" name="director" placeholder="입력하지 않으면 '미상'"></p>
            <p>평점: <input type="number" step="0.1" name="score"></p>
            
            <button type="submit">리뷰 저장하기</button>
        </form>

        <hr>
        <a href="{% url 'review_lists' %}">목록으로 돌아가기</a>
    </main>
</body>
</html>