<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register_page</title>
</head>
<body>
    <!-- ### 기능5: 입력 항목
    - `title`, `image`, `content`, `interest`, `devtool(개발툴)`
    - `devtool`은 리스트 항목 중에서 선택 -->
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <p>title : <input type="text" name="title"></p>
        <p>image : <input type="file" name="image" accept="image/*"></p>
        <p>content : <textarea name="content"></textarea></p>
        <p>interest : <input type="text" name="interest"></p>
        <p>devtool : <input type="text" name="devtool"></p>
        <button type="submit" name="button" value="save">Save</button>
        <button type="submit" name="button" value="delete all">Delete</button>
    </form>
</body>
</html>