{% extends 'base.html' %}

{% block content %}
<div class="update-container">
    <h2>게시물 수정</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% if post.photo %}
            <p>현재 사진:</p>
            <img src="{{ post.photo.url }}" style="width: 200px;">
        {% endif %}
        
        <p>사진 변경: <input type="file" name="photo"></p>
        
        <p>내용: 
            <textarea name="content" rows="5">{{ post.content }}</textarea>
        </p>
        
        <button type="submit">수정 완료</button>
        <a href="{% url 'insta:mainPage' %}">취소</a>
    </form>
</div>
{% endblock %}