*{
    margin:0; padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    display: flex; justify-content: space-between; align-items: center;
    height:100px;
    padding:0 40px;
    border-bottom:1px solid #818181;
}
header h1{
    font-size: 3rem;
}
header a{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color:#000000;
}