*{
    margin:0; padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    display: flex; justify-content: space-between; align-items: center;
    height:100px;
    padding:0 40px;
    border-bottom:1px solid #818181;
}
header h1{
    font-size: 3rem;
}
header a{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color:#000000;
}

.btn-tmdb {
    background: none;
    border: 2px solid #E63F65;
    color: #E63F65;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-tmdb:hover {
    background-color: #E63F65;
    color: #fff;
}