#review_boxes{
    display: grid; grid-template-columns: repeat(4,1fr); place-items: center;
    gap:20px;
    margin:0 30px;
}

#review_boxes .review_cell{
    width:200px; height:350px;
    background-color: aqua;
    padding:20px 15px;
}

#review_boxes .review_cell .review_top{
    width:90%; height:50%;
    background-color: blueviolet;
    display: flex; align-items: center; justify-content: center;
    margin:0 auto;
}

#review_boxes .review_cell .review_top img{
    max-width: 100%; max-height: 100%;
}

#review_boxes .review_cell .review_bottom{
    width:90%;
    line-height: 200%;
    margin:0 auto;
}
#review_boxes .review_cell .review_bottom h3{
    padding:10px 0;
}