html{
    margin-top: 160px;
}

header{
    position:fixed; top:0;
    padding:0 40px;
    width:100%; height:120px;
    display: flex; 
    display: flex; align-items: center;
    border-bottom: 1px solid #ababab;
}

header h1{
    font-size: 3rem;
}

header nav{
    width:100%;
    display: flex; align-items: center; justify-content: space-between;
}

header ul{
    display: flex; align-items: center; justify-content: center;
}

header ul>li{
    font-size: 2rem;
    margin-left:2rem;
}

