:root{
    --bg_color:#000000;
    --card_bg:#333333;
    --font_color:#FDFDFD;
    --font_sub_color:#909090;
    --non_major:#C54322;
    --major:#2288B6;
    --green_color:#05CB0D;
}

header{
    position:fixed; top:0;
    height:90px; width:100%;
    display:flex; justify-content: center;
    background: linear-gradient(to bottom,var(--bg_color),var(--bg_color) 60%,transparent);
    z-index: 1;
}

header nav{
    height:100%; width:100%; max-width: 1200px;
    display:flex; justify-content: space-between; align-items: center;
    padding:0 40px;
}

header nav img{
    height:40px; width:40px;
}

header nav ul{
    display:flex;
}

header nav ul li a{
    font-size: 22px;
    padding:10px; margin-left:10px;
    color:var(--font_color)
}

header nav ul li a:hover{
    color:var(--green_color)
}

/* ---------------- body ---------------- */

body{
    background-color: var(--bg_color);
}

main{
    display: flex;
    justify-content: center;
}

.card_box{
    display:grid;
    grid-template-columns: repeat(3,1fr); gap:16px;
    padding:20px; margin-top:90px;
    width:100%; max-width: 1200px;
}

.card{
    background-color: var(--card_bg); color:var(--font_color);
    height:138px;
    padding:16px; border-radius: 12px;
    transition:transform 0.1s ease-out;
}

.card:hover{
    cursor:pointer;
    transform:translateY(-2px);
}

.card .up{
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
    height:70px;
}

.card .up .square{
    display:flex; flex-flow:row nowrap;
}

.card .up .image_box{
    height:70px; width:70px;
    border-radius:50%;
    overflow: hidden;
}

.card .up img{
    transition:transform 0.3s ease-out;
    height:70px;
}

.card:hover .up img{
    transform: scale(1.2);
}

.card .up .person_info{
    padding-left:20px;
    display:flex; flex-flow:column nowrap;
    justify-content: space-evenly;
}

.card .up .person_info .non_major{
    background-color: var(--non_major);
    padding:5px; border-radius: 5px;
}

.card .up .person_info .major{
    background-color: var(--major);
    padding:5px; border-radius: 5px;
}
/* ---------------- 햄버거 ---------------- */
.card .up .ham_box{
    height:20px; width:20px;
    right:0;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    overflow: hidden;
}

.card .up .ham_box .ham_bar{
    background-color: var(--font_sub_color);
    height:16%; width:100%;
    transition: transform 0.3s ease-out;
}

.card:hover .up .ham_box .ham_bar.top{
    transform: translateX(-50%);
}

.card:hover .up .ham_box .ham_bar.bottom{
    transform: translateX(50%);
}

/* ---------------- 다운 ---------------- */

.card .down{
    height:calc(100% - 70px);
    display:flex; align-items: center;
}

.card .down p{
    margin: auto 0px;
}

/* ------------------- footer ------------------- */
footer.high{
    height:190px; width:100%;
    background-color: var(--card_bg);
    padding:40px 100px;
    display: flex; align-items: center; justify-content: space-between;
    color:var(--font_color)
}

footer .chat_apps{
    display: flex; align-items: center;
}

footer .logo_box{
    height:30px; width:30px;
    background-color: var(--bg_color);
    display: flex; align-items: center; justify-content: center;
    margin:5px 10px; border-radius: 50%;;
}

footer.high .approach #rule{
    display: block;
}

footer .approach .email{
    display: flex; align-items: center; justify-content: space-between;
}

footer.high .approach #rule:hover,footer .logo_box:hover{
    transform: translateY(-2px);
}

footer.high .lists ul{
    display: flex; align-items: center; justify-content: space-evenly;
}

footer.high .lists ul li{
    padding:0 23px; border-right:1px solid var(--font_color)
}

footer.high .lists ul li:last-child{
    border-right:none;
}

footer.high .lists ul li:hover{
    transform: translateY(-2px);
}

footer.low{
    height:44px; width:100%;
    background-color: #282828;
    display: flex; align-items: center; justify-content: center;
    color:var(--font_color)
}

/* ------------------- 미디어 쿼리 ------------------- */

@media(max-width:850px){
    .card_box{
    grid-template-columns: repeat(2,1fr);
}
}

@media(max-width:600px){
    .card_box{
    grid-template-columns: repeat(1,1fr);
}
}